.navcont{
    background-color: #082032;
}

.navMenu a {
    font-size: 1.2em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
    color: #fddb3a;
}

.navMenu a {
    width: 120px;
    text-align: center;
}

.navMenu .dot {
    border-radius: 50%;
    -webkit-transform: translateX(420px);
    transform: translateX(420px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover~.dot {
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.navMenu a:nth-child(2):hover~.dot {
    -webkit-transform: translateX(180px);
    transform: translateX(180px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.navMenu a:nth-child(3):hover~.dot {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.navMenu a:nth-child(4):hover~.dot {
    -webkit-transform: translateX(420px);
    transform: translateX(420px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}