.headcontainer {
    @apply flex items-center justify-center;
    background-color: #082032;
    height: 95vh;
    clip-path: ellipse(102% 100% at 50% 0%);
    gap: 10vw;
}

.blackfont{
    color: black;
}

.titlecontainer {
    @apply flex flex-col items-center justify-center gap-10;
}

#titlelogo {
    width: 40vw;
}

#lottievr {
    width: 20.02vw;
}

.custombtn {
    @apply rounded cursor-pointer flex flex-row h-12 py-2 px-6 relative text-white w-40 gap-2 items-center justify-center;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    font-weight: bold;
}

.btntest {
    @apply hover:text-white;
    background: #5B5879;
    border: none;
    z-index: 1;
}

.btntest:after {
    @apply rounded h-full absolute top-0 right-0 w-0;
    content: "";
    z-index: -1;
    background-color: rgba(47, 59, 86, 1);
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.btntest:hover:after {
    left: 0;
    width: 100%;
}

.btntest:active {
    top: 2px;
}

.imagecontainer {
    @apply flex items-center justify-center;
}

.circle {
    @apply opacity-100 absolute;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background-color: rgba(140, 117, 155, 1);
    animation: glowShadow 4s ease infinite;
}

@keyframes glowShadow {
    0% {
        box-shadow: 0 0 100px white;
    }

    50% {
        box-shadow: 0 0 100px #C093B9;
    }

    100% {
        box-shadow: 0 0 100px #9ecaed;
    }
}

/* Content 1 */

.content1{
    margin-top: 5vh;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 50vh;
}

.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headingcontent1{
    font-size: 2.5em;
    font-weight: bold;
    text-align: left;
}

.bodycontent1{
    font-size: 1.5em;
    text-align: justify;
    width: 600px;
}

model-viewer{
    width: 50vw;
    height: 100%;
}

#titlelogos{
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
}

/* Responsive max width 768px */
@media only screen and (max-width: 768px) {
    .circle {
        width: 150px;
        height: 150px;
    }

    .headcontainer {
        clip-path: ellipse(150% 100% at 50% 0%);
        gap: 15vw;
        margin-left: -2.7rem;
        z-index: 0;
        height: 30rem;
    }

    .content1{
        margin: 5vh;
    }

    .bodycontent1{
        font-size: 1rem;
        text-align: justify;
        width: 200px;
    }

    .navcont {
        min-height: 4rem;
        z-index: 9999;
    }
}