.headcontainer {
    background-color: #082032;
    height: 800px;
    clip-path: ellipse(102% 100% at 50% 0%);
}


.headcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

.titlecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#titlelogo {
    width: 40vw;
}

#lottievr {
    width: 20.02vw;
    /* margin: 20px; */
}

.custombtn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    cursor: pointer;
    position: relative;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-weight: bold;
}

.btntest {
    background: #5B5879;
    border: none;
    z-index: 1;
}

.btntest:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #2F3B56;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    transition: all 0.3s ease;
}

.btntest:hover {
    color: #fff;
}

.btntest:hover:after {
    left: 0;
    width: 100%;
}

.btntest:active {
    top: 2px;
}

.imagecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    opacity: 1;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    position: absolute;
    background-color: #8C759B;
    animation: glowShadow 4s ease infinite;
}

@keyframes glowShadow {
    0% {
        box-shadow: 0 0 100px white;
    }

    50% {
        box-shadow: 0 0 100px #C093B9;
    }

    100% {
        box-shadow: 0 0 100px #9ecaed;
    }
}