.container{
    background-color: #082032;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container2{
    margin: 2rem;
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 50vw;
} 

.container3{
    display: flex;
    align-items:center;
    height: 100px;
} 

#spanteam{
    font-size: 1.5em;
    font-weight: bold;
}

#logo{
    width: 300px;
} 

.footerlink{
    margin-top: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}