*{
  color: white;
}

video.videobackgroundspace{
  position: absolute;
  width: 100vw;
  left: 0;
  height: 100%;  
  z-index: -1;
  filter: blur(0.6px);
  object-fit: fill;
}

div.titlebar{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: scaleup 1s ease 0s 1 normal forwards;
}

div.titlebar > div > img{
  height: fit-content;
  width: 50vw;
  margin-left: -35px;
}

div.titlebar > div > img#vrlogo{
  filter: invert();
  width: 13.02vw;
  margin: 20px;
}

div.titlebar > span{
  margin-top: -15px;
  font-size: 1.5em;
  letter-spacing: 1px;
  font-weight: bold;
}

.buttonentry{
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: floating 3s ease infinite;
  width: 200px;
  height: 200px;
}

.circle {
  opacity: 1;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  background: radial-gradient(circle, black 0%, white 120%);
}

.buttonentry:hover .circle{
  background: radial-gradient(circle, black 0%, blue 120%);
}

#lottierocket{
  width: 260px;
  height: 260px;
  position: absolute;
}


@keyframes scaleup {
  0% {
    transform: scale(0.5);
  }
  
  100% {
    transform: scale(1);
  }
}

/* floating animation */
@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

