.parallax {
    position: relative;
    height: auto;
    padding: 180px 0px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .parallax:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.30);
    z-index: 100;
    content: ' ';
  }
  .parallax h1 {
    color: #fff;
    position: relative;
    z-index: 101;
    font-size: 48px;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  .parallaxdemo {
        background-image: url(../../../src/stockgallery/earth.jpg);
        background-position: 100% 100%;
  }