.container{
    background: linear-gradient(180deg, rgba(8,32,50,1) 0%, rgba(14,14,193,1) 54%, rgba(8, 32, 50, 0.63) 100%);
}

.pagetitle{
    background-color: #082032;
    padding: 50px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
    clip-path: ellipse(84% 100% at 50% 0%);
}

.content{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contentdivide{
    margin: 20px 0 20px 0;
}

.contentdivide > h1{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
}

.contentdivide > p{
    font-style: italic;
    font-weight: bold;
}